<div class="bg-dark text-light contenedor p-5">
    <h1 class="text-center p-5">JuegoCartas</h1>

    <div class="d-flex flex-column align-items-center">
      <input type="text" class="px-5 py-3 m-3 text-center" [(ngModel)]="nombreJugador" (keyup)="existeUnNombre()" placeholder="Ingrese su nombre" >
      <input type="text"  class="px-5 py-3 mb-3 text-center" [(ngModel)]="codigoPartida" (keyup)="existeUnCodigo()" placeholder="Ingrese Codigo partida">
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center">
      <div>
        <input type="button" value="Crear partida" [disabled]="btnDisabled" class=" btn btn-success px-5 py-3 m-2 input-crearPartida"(click)="crearPartida()">
        <input type="button" value="Unirme partida"   [disabled]="btnDisabledUnirme" class=" btn btn-primary px-5 py-3 m-2" (click)="unirmePartida()">
      </div>
      <div>
      </div>

      </div>
  </div>
